*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #1ee6a3;
  height: 100vh;
}

/* TOPO */

.topo{
  background: #111320;
  height: 170px;

  border-bottom-left-radius: 100% 40px;
  border-bottom-right-radius: 100% 40px;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.voltar{
  position: absolute;
  left: 20px;
  top: 20px;

  color: white;
  font-size: 30px;

  cursor: pointer;
}

.logo{
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.logo span{
  color: #1ee6a3;
}

/* CONTEÚDO */

.container{
  padding: 30px 20px;
}

h1{
  text-align: center;
  margin-bottom: 30px;

  color: #111;
  font-size: 36px;
}

.input-box{
  margin-bottom: 25px;
}

input{
  width: 100%;
  height: 60px;

  border: none;
  border-radius: 10px;

  padding: 0 20px;

  font-size: 20px;

  background: #f2f2f2;

  outline: none;
}

/* BOTÕES SMS E EMAIL */

.opcoes{
  display: flex;
  gap: 15px;

  margin-bottom: 25px;
}

.opcao{
  border: 2px solid #111;
  border-radius: 20px;

  padding: 8px 25px;

  font-weight: bold;

  cursor: pointer;

  background: transparent;
}

.ativo{
  background: #111320;
  color: white;
}

/* BOTÃO PRINCIPAL */

.btn{
  width: 100%;
  height: 60px;

  background: #000;
  color: white;

  border: none;
  border-radius: 10px;

  font-size: 22px;

  cursor: pointer;

  margin-top: 180px;
}

.btn:hover{
  opacity: 0.9;
}